:root {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #f8f8f8;
  background: #1d1d1d;
  font: 12px arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: visible;
}

.page-1 {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 20px;
}

.front-row {
  height: auto;
  width: 100%;
  /* padding: 2rem; */
}

.header-row {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 4vw;
}

.header-left {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8em 1.2rem;
}

.header-row a {
  text-decoration: none;
  font-size: 0.875rem;
  color: #f8f8f8;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}

.header-row a:hover {
  text-decoration: underline;
}
.header-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.header-center a {
  padding: 0.8rem 1.2rem;
  border-radius: 20px;
}

.header-right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8em 1.2rem;
  flex-wrap: wrap;
}

#icon {
  position: relative;
  text-decoration: none;
  background-color: #1d1d1d;
  border-radius: 20px;
  padding: 0.8rem 1.2rem;
  text-align: center;
  color: #f8f8f8;
  border: 1px solid #f8f8f8;
  outline: none;
  cursor: pointer;
}

#icon:hover {
  background-color: #bdc3c7;
}

.middle-row {
  width: 100vw;
  max-height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}

div .col1 {
  width: 50vw;
  height: auto;
  padding-left: 2vw;
  padding-right: 1vw;
  /* vertical-align: middle; */
  display: flex;
  justify-content: center;
  align-items: center;
}

div .col2 {
  width: 50vw;
  height: auto;
  padding-left: 1vw;
  padding-right: 2vw;
  padding-top: 0;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
}

.col2 h1 {
  margin: 0;
}

.img {
  max-height: 50vh;
  max-width: 50vw;
  width: 27.2em;
  height: 27.2em;
  top: 0;
  border-radius: 50%;
  overflow: visible;
  border: 1px #000;
  border-radius: 100%;
}

.scroll-btn {
  background-color: #1d1d1d;
  border-radius: 20px;
  padding: 0.8rem 1.2rem;
  text-align: center;
  color: #f8f8f8;
  border: 1px solid #f8f8f8;
  outline: none;
  cursor: pointer;
  max-width: 420px;
}

.scroll-btn:hover {
  background-color: #bdc3c7;
}

.scroll-btn a {
  text-decoration: none;
  color: #f8f8f8;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  padding-right: 4vw;
  padding-left: 4vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  width: 100%;
}

.footer-row a {
  text-decoration: none;
  font-size: 0.75rem;
  color: #f8f8f8;
  vertical-align: middle;
  text-align: center;
  padding: 1vw 2vw;
}

.footer-row a:hover {
  text-decoration: underline;
}

/* Page 2 */

.page-2 {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  position: relative;
}

.about-me {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  color: #1d1d1d;
  padding-top: 2vw;
  padding-bottom: 2vw;
  padding-right: 2vw;
  padding-left: 2vw;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-height: 300px;
  height: auto;
  padding-right: 4vw;
  padding-left: 4vw;
  margin: 0 auto;
}

.left-side {
  max-width: 38vw;
  max-height: auto;
  padding: 2rem;
  float: left;
  font-weight: 300;
}

.right-side {
  max-width: 62vw;
  min-width: 30vw;
  max-height: auto;
  padding: 2rem;
  float: left;
  font-size: 1.4em;
  line-height: 1.1;
  font-weight: 400;
  border: 1px solid #1d1d1d;
  border-radius: 20px;
}

.speciality {
  display: flex;
  justify-content: space-around;
  gap: 2vw;
  padding-right: 3vw;
  padding-left: 3vw;
}

.section {
  height: auto;
  width: 30vw;
  text-align: left;
  vertical-align: middle;
}

@media screen and (max-width: 650px) {
  .middle-row .img {
    width: 40vw;
    height: 40vw;
    overflow: visible;
    /* width: 17.2em;
    height: 17.2em; */
    border: 1px #000;
    border-radius: 100%;
    -webkit-transform: translate(-6vw, 0);
    -ms-transform: translate(-6vw, 0);
    transform: translate(-6vw, 0);
  }

  div .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    margin: 0 auto;
    max-height: 500px;
  }
  .left-side {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  .right-side {
    display: inline-block;
    width: 100%;
    vertical-align: center;
    margin: 0 auto;
    max-width: 100vw;
  }
  .speciality {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    gap: 5vw;
  }
  .section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2vw;
    gap: 2vw;
  }
  .section-headings {
    display: inline-block;
    flex: 0 0 8em;
    width: 120px;
    padding: 2vw;
  }
}

@media screen and (max-width: 170px) {
  .header-center {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: center;
  }
}
